{% extends "basic.html" %}
{% block title %}Edit Doctor{% endblock %}

{% block content %}
<div class="container mt-4">
    <h2>Edit Doctor</h2>
    <hr>

    <form method="POST">
        <div class="mb-3">
            <label>Name</label>
            <input type="text" name="name" value="{{ doctor[1] }}" class="form-control">
        </div>

        <div class="mb-3">
            <label>Email</label>
            <input type="email" name="email" value="{{ doctor[2] }}" class="form-control">
        </div>

        <div class="mb-3">
            <label>Mobile</label>
            <input type="text" name="mobile" value="{{ doctor[3] }}" class="form-control">
        </div>

        <div class="mb-3">
            <label>Department</label>
            <input type="text" name="department" value="{{ doctor[4] }}" class="form-control">
        </div>

        <div class="mb-3">
            <label>Specialization</label>
            <input type="text" name="specialization" class="form-control">
        </div>

        <button class="btn btn-success w-100">Update</button>
    </form>

</div>
{% endblock %}
