{% extends "basic.html" %}
{% block title %}Add Doctor{% endblock %}

{% block content %}
<div class="container mt-4">
    <h2>Add Doctor</h2>
    <hr>

    <form method="POST">

        <div class="mb-3">
            <label>Doctor ID</label>
            <input type="text" name="doctor_id" class="form-control" required>
        </div>

        <div class="mb-3">
            <label>Name</label>
            <input type="text" name="name" class="form-control" required>
        </div>

        <div class="mb-3">
            <label>Email</label>
            <input type="email" name="email" class="form-control" required>
        </div>

        <div class="mb-3">
            <label>Mobile</label>
            <input type="text" name="mobile" class="form-control" required>
        </div>

        <div class="mb-3">
            <label>Timings</label>
            <input type="text" name="timing" class="form-control" placeholder="10am-1pm">
        </div>

        <div class="mb-3">
            <label>Department ID</label>
            <input type="text" name="department" class="form-control" required>
        </div>

        <button class="btn btn-primary w-100">Add Doctor</button>
    </form>
</div>
{% endblock %}
